.body {
    background: url(../../public/images/crew/background-crew-desktop.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid white; */
    /* min-height: 100%; */
    padding-top: 160px;
  }
  .header{
    font-size: 1.7rem;
    color: white;
    font-family: 'core';
    width: 40%;
    margin-bottom: 5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .header span span{
    font-weight: 800;
    color: grey;
    margin-right: 1.2rem;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .body {
      background-image: url(../../public/images/crew/background-crew-tablet.jpg);
    }
    .header{
      width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    .body {
      background-image: url(../../public/images/crew/background-crew-desktop.jpg);
      background-position: center;
      background-size: cover;
    }
    .header{
      width: 100%;
    }
  }
 